parameters:
    level: 8
    paths:
        - app
        - config
        - database
        - routes
    excludePaths:
        - bootstrap/cache
        - storage
        - vendor
    ignoreErrors:
        # Add custom ignore rules here if needed
